<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokemon App Show</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Roboto&display=swap" rel="stylesheet">
    <link href= "/assets/style.css" rel="stylesheet" type="text/css" />
     
      
</head>
<body>
    <header> 
        <h1> See all the Pokemons! </h1>
    </header>
    <main> 

        <ul> 

            <% pokemons.forEach((element) => { %> 
                <%let indexno = pokemons.indexOf(element)%> 
                <li> 
                <a href="/pokemon_page/<%=indexno%>"> 
                    <%=element.name%> <br> 
                </a>
                
                </li> 
            <% }); %>
         </ul>


    </main>
</body>
</html>